html, * {
  box-sizing: border-box; }

html, body {
  height: 100%;
  background-color: transparent;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 14px;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

p {
  margin: 0.75em 5%; }

a {
  color: #000; }

b, strong {
  font-weight: 500; }

input::-webkit-input-placeholder {
  font-weight: 200;
  color: #ccc; }

input:-moz-placeholder {
  font-weight: 200;
  color: #ccc; }

input::-moz-placeholder {
  font-weight: 200;
  color: #ccc; }

input:-ms-input-placeholder {
  font-weight: 200;
  color: #ccc; }

.Wrappers.Wrappers--center {
  text-align: center; }

.Wrappers.Wrappers--pad {
  padding: 0 10px; }

.Wrappers.Wrappers--fullpad {
  padding: 0 20px; }

.Wrappers.Wrappers--tintbox {
  background-color: #ccc; }

.Container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  clear: both; }
  .Container.Container--page {
    background-color: #fff;
    border: #ddd 1px solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .Container.Container--tintbox {
    background-color: #ccc; }

.Navigation {
  width: 100%;
  height: 100%;
  padding-top: 44px;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  z-index: 2;
  transition: all 0.25s ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 4px 0 15px rgba(0, 0, 0, 0.06); }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    .Navigation {
      max-width: 280px; } }
  .Navigation .Navigation-search input {
    display: block;
    width: 93%;
    font-size: 14px;
    border: none;
    margin: 0.5rem 0.75rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0; }
  .Navigation ul.Navigation-menu {
    display: block;
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    top: 0;
    position: absolute;
    padding-top: 44px;
    overflow: hidden;
    background-color: #f2f2f2;
    z-index: 2;
    transition: all 0.25s ease; }
    .Navigation ul.Navigation-menu li {
      line-height: 44px;
      transition: all 0.45s ease; }
    .Navigation ul.Navigation-menu ul {
      display: block;
      list-style: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      padding-top: 44px;
      background-color: #f2f2f2;
      transition: all 0.45s ease;
      z-index: 2;
      box-shadow: -1px 0 0 #777, -4px 0 15px rgba(0, 0, 0, 0.06); }
    .Navigation ul.Navigation-menu li.has-more > a:after {
      position: absolute;
      right: 20px;
      display: inline-block;
      content: '>'; }
    .Navigation ul.Navigation-menu li.Navigation-back a {
      background-color: rgba(0, 0, 0, 0.15);
      margin: 8px 7px 7px 7px; }
    .Navigation ul.Navigation-menu a {
      display: block;
      padding: 0 1.25rem;
      color: #000;
      text-decoration: none;
      transition: all 0.45s ease; }
  .Navigation .is-inactive {
    -webkit-transform: translateX(115%);
    transform: translateX(115%); }
  .Navigation .is-fading > a {
    text-indent: -2.5em; }
  .Navigation.is-minimised,
  .Navigation .is-minimised {
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%); }
  .Navigation .u-divide {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .Navigation.Navigation--desktop .u-dt-hide {
    display: none !important; }

.header {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  z-index: 5;
  text-align: center;
  box-shadow: 0 0 0 1px #f2f2f2; }
  .header .header-burger {
    overflow: touch;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0 1.25rem;
    line-height: 44px;
    cursor: pointer;
    background-color: #fff;
    z-index: 5;
    -webkit-transform: translate3d(0, 0, 0);
    transition: opacity 0.25s ease; }
  .header a.header-logo {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    z-index: 3; }
    .header a.header-logo b {
      font-weight: 500; }
  .header a.header-bag {
    display: block;
    position: absolute;
    right: 5%;
    z-index: 3; }
  .header .is-active {
    background-color: #f2f2f2; }

.page {
  padding-top: 65px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  background-color: #fff; }
  .page.is-fixed {
    -webkit-overflow: hidden;
    overflow: hidden; }
    @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
      .page.is-fixed {
        -webkit-overflow: auto;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch; } }
  .page .page-nav {
    display: none; }
    @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
      .page .page-nav {
        display: block;
        max-height: 110px;
        overflow: hidden;
        text-align: center;
        padding: 0 5%; }
        .page .page-nav > ul {
          width: 100%; }
        .page .page-nav > ul > li:first-child {
          display: block;
          width: 100%; }
          .page .page-nav > ul > li:first-child input {
            width: 100%;
            margin: 0.75em 0;
            border-radius: 0;
            font-size: 17px;
            padding: 0.75rem;
            border: none;
            font-weight: 200;
            border: 1px solid #ddd; }
        .page .page-nav ul, .page .page-nav li, .page .page-nav li a {
          list-style: none;
          margin: 0;
          padding: 0;
          display: inline-block; }
        .page .page-nav li a {
          display: block;
          padding: 0.1rem 0;
          margin: 0.75em;
          border-bottom: 1px #000 solid;
          color: #000;
          text-decoration: none; } }

/*===================================================/
	Utilities
	Helper classes for use inline in the mark-up 
/===================================================*/
/* Floats */
.u-pull-left {
  float: left !important; }

.u-pull-right {
  float: right !important; }

/* Add/remove margins */
.u-push {
  margin: 20px !important; }

.u-push-top {
  margin-top: 20px !important; }

.u-push-right {
  margin-right: 20px !important; }

.u-push-bottom {
  margin-bottom: 20px !important; }

.u-push-left {
  margin-left: 20px !important; }

.u-push-vertical {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.u-push-horizontal {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.u-flush {
  margin: 0 !important; }

.u-flush-top {
  margin-top: 0 !important; }

.u-flush-right {
  margin-right: 0 !important; }

.u-flush-bottom {
  margin-bottom: 0 !important; }

.u-flush-left {
  margin-left: 0 !important; }

.u-flush-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-flush-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/* Add/remove padding */
.u-soft {
  padding: 20px !important; }

.u-soft-top {
  padding-top: 20px !important; }

.u-soft-right {
  padding-right: 20px !important; }

.u-soft-bottom {
  padding-bottom: 20px !important; }

.u-soft-left {
  padding-left: 20px !important; }

.u-soft-vertical {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.u-soft-horizontal {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.u-hard {
  padding: 0 !important; }

.u-hard-top {
  padding-top: 0 !important; }

.u-hard-right {
  padding-right: 0 !important; }

.u-hard-bottom {
  padding-bottom: 0 !important; }

.u-hard-left {
  padding-left: 0 !important; }

.u-hard-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.u-hard-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/*====================/
	Text
/====================*/
.u-text-left {
  text-align: left !important; }

.u-text-right {
  text-align: right !important; }

.u-text-center {
  text-align: center !important; }

.u-nobr, .u-nowrap {
  white-space: nowrap; }

.u-playfair {
  font-family: "Playfair Display", Georgia, serif; }

/*====================/
	Display
/====================*/
.u-middle-table {
  display: table;
  width: 100%;
  height: 100%; }

.u-middle-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.u-inline-block {
  display: inline-block; }

.u-link {
  text-decoration: underline; }

/*====================/
	Interactions
/====================*/
.is-hidden {
  display: none !important; }
