html, * {
  box-sizing: border-box; }

html, body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px; }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    html, body {
      background-color: #fff; } }

.Rforms .Rforms-block {
  margin: 0 10px; }

.Rforms .Rforms-fieldset {
  background-color: #fff;
  border: none;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin: 10px 0;
  padding: 0 10px; }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    .Rforms .Rforms-fieldset {
      background-color: transparent;
      border: none; } }

.Rforms .Rforms-input {
  display: block;
  width: auto;
  border-top: 1px #ddd solid; }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    .Rforms .Rforms-input {
      background-color: #f2f2f2;
      border: none;
      margin: 10px 0; } }
  .Rforms .Rforms-input input,
  .Rforms .Rforms-input label,
  .Rforms .Rforms-input select {
    border-radius: 0;
    vertical-align: top;
    height: 48px;
    line-height: 48px;
    font-size: 1rem;
    font-weight: 400;
    display: inline-block; }
    .Rforms .Rforms-input input.u-w20,
    .Rforms .Rforms-input label.u-w20,
    .Rforms .Rforms-input select.u-w20 {
      width: 20%; }
    .Rforms .Rforms-input input.u-w25,
    .Rforms .Rforms-input label.u-w25,
    .Rforms .Rforms-input select.u-w25 {
      width: 25%; }
    .Rforms .Rforms-input input.u-w30,
    .Rforms .Rforms-input label.u-w30,
    .Rforms .Rforms-input select.u-w30 {
      width: 30%; }
    .Rforms .Rforms-input input.u-w33,
    .Rforms .Rforms-input label.u-w33,
    .Rforms .Rforms-input select.u-w33 {
      width: 33%; }
    .Rforms .Rforms-input input.u-w40,
    .Rforms .Rforms-input label.u-w40,
    .Rforms .Rforms-input select.u-w40 {
      width: 40%; }
    .Rforms .Rforms-input input.u-w50,
    .Rforms .Rforms-input label.u-w50,
    .Rforms .Rforms-input select.u-w50 {
      width: 50%; }
    .Rforms .Rforms-input input.u-w60,
    .Rforms .Rforms-input label.u-w60,
    .Rforms .Rforms-input select.u-w60 {
      width: 60%; }
    .Rforms .Rforms-input input.u-w70,
    .Rforms .Rforms-input label.u-w70,
    .Rforms .Rforms-input select.u-w70 {
      width: 70%; }
    @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
      .Rforms .Rforms-input input,
      .Rforms .Rforms-input label,
      .Rforms .Rforms-input select {
        background-color: transparent;
        padding-left: 10px;
        border-right: 1px solid #ddd; } }
  .Rforms .Rforms-input label {
    width: 36%;
    overflow: hidden; }
  .Rforms .Rforms-input input,
  .Rforms .Rforms-input select {
    margin: 5px 0;
    height: 38px;
    line-height: 38px;
    font-family: "Open Sans", sans-serif;
    width: 64%;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .Rforms .Rforms-input input::-webkit-input-placeholder,
    .Rforms .Rforms-input select::-webkit-input-placeholder {
      font-weight: 400;
      color: #ccc; }
  .Rforms .Rforms-input select {
    color: #2b79ec;
    background-color: transparent;
    font-size: 1rem;
    text-align: right; }
  .Rforms .Rforms-input:first-child {
    border-top: none; }

.Rforms .Rforms-helper {
  font-size: 0.79rem;
  color: #777; }

.Rforms input[type=number]::-webkit-inner-spin-button,
.Rforms input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.Pressme {
  display: inline-block;
  background-color: #2b79ec;
  border-radius: 5px;
  padding: 0 30px;
  line-height: 60px;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .Pressme.Pressme--secondary {
    background-color: #777;
    padding: 0 20px;
    line-height: 48px; }

.Wrappers.Wrappers--center {
  text-align: center; }

.Wrappers.Wrappers--pad {
  padding: 0 10px; }

.Wrappers.Wrappers--fullpad {
  padding: 0 20px; }

.Wrappers.Wrappers--tintbox {
  background-color: #ccc; }

.Container {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  clear: both; }
  .Container.Container--page {
    background-color: #fff;
    border: #ddd 1px solid;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .Container.Container--tintbox {
    background-color: #ccc; }

.Table {
  width: 100%;
  clear: both; }
  .Table td, .Table th {
    text-align: left;
    font-weight: normal;
    padding: 6px 4px;
    vertical-align: bottom; }
  .Table.w05 {
    width: 05%; }
  .Table.w10 {
    width: 10%; }
  .Table.w15 {
    width: 15%; }
  .Table.w20 {
    width: 20%; }
  .Table.w25 {
    width: 25%; }
  .Table.w30 {
    width: 30%; }
  .Table.w35 {
    width: 35%; }
  .Table.w40 {
    width: 40%; }
  .Table.w45 {
    width: 45%; }
  .Table.w50 {
    width: 50%; }
  .Table.w55 {
    width: 55%; }
  .Table.w60 {
    width: 60%; }
  .Table.w65 {
    width: 65%; }
  .Table.w70 {
    width: 70%; }
  .Table.w75 {
    width: 75%; }
  .Table.w80 {
    width: 80%; }
  .Table.w85 {
    width: 85%; }
  .Table.w90 {
    width: 90%; }
  .Table.w95 {
    width: 95%; }
  .Table.w100 {
    width: 100%; }
  .Table .Table-product {
    text-align: left; }
  .Table .Table-quantity {
    text-align: center;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px; }
  .Table .Table-price,
  .Table .Table-numeric {
    text-align: right;
    white-space: nowrap;
    padding-left: 15px; }
  .Table .Table-total {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
    padding-left: 15px; }
  .Table .Table-divide td {
    height: 20px;
    background-image: linear-gradient(transparent 48%, #ddd 48%, #ddd 51%, transparent 51%); }
  .Table .u-positive {
    color: #1abc9c; }

.cflag {
  display: inline-block;
  vertical-align: middle;
  background: transparent url(../img/cflags-64-sprite-x14.png) no-repeat;
  background-size: 32px;
  width: 32px;
  height: 24px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 3px 3px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  font-size: 0;
  color: transparent; }

.cflag.cflag--20 {
  background-size: auto 219px;
  width: 20px;
  height: 15px; }

.cflag.cflag--16 {
  background-size: 16px;
  width: 16px;
  height: 12px; }

.cflag-au {
  background-position: 0 0px; }
  .cflag-au.cflag--20 {
    background-position: 0 0px; }
  .cflag-au.cflag--16 {
    background-position: 0 0px; }

.cflag-cn {
  background-position: 0 -25px; }
  .cflag-cn.cflag--20 {
    background-position: 0 -16px; }
  .cflag-cn.cflag--16 {
    background-position: 0 -12px; }

.cflag-de {
  background-position: 0 -50px; }
  .cflag-de.cflag--20 {
    background-position: 0 -31px; }
  .cflag-de.cflag--16 {
    background-position: 0 -25px; }

.cflag-es {
  background-position: 0 -75px; }
  .cflag-es.cflag--20 {
    background-position: 0 -47px; }
  .cflag-es.cflag--16 {
    background-position: 0 -37px; }

.cflag-eu {
  background-position: 0 -100px; }
  .cflag-eu.cflag--20 {
    background-position: 0 -62px; }
  .cflag-eu.cflag--16 {
    background-position: 0 -50px; }

.cflag-fr {
  background-position: 0 -125px; }
  .cflag-fr.cflag--20 {
    background-position: 0 -78px; }
  .cflag-fr.cflag--16 {
    background-position: 0 -62px; }

.cflag-gb {
  background-position: 0 -150px; }
  .cflag-gb.cflag--20 {
    background-position: 0 -94px; }
  .cflag-gb.cflag--16 {
    background-position: 0 -75px; }

.cflag-gg {
  background-position: 0 -175px; }
  .cflag-gg.cflag--20 {
    background-position: 0 -109px; }
  .cflag-gg.cflag--16 {
    background-position: 0 -87px; }

.cflag-ie {
  background-position: 0 -200px; }
  .cflag-ie.cflag--20 {
    background-position: 0 -125px; }
  .cflag-ie.cflag--16 {
    background-position: 0 -100px; }

.cflag-je {
  background-position: 0 -225px; }
  .cflag-je.cflag--20 {
    background-position: 0 -141px; }
  .cflag-je.cflag--16 {
    background-position: 0 -112px; }

.cflag-no {
  background-position: 0 -250px; }
  .cflag-no.cflag--20 {
    background-position: 0 -156px; }
  .cflag-no.cflag--16 {
    background-position: 0 -125px; }

.cflag-ru {
  background-position: 0 -275px; }
  .cflag-ru.cflag--20 {
    background-position: 0 -172px; }
  .cflag-ru.cflag--16 {
    background-position: 0 -137px; }

.cflag-se {
  background-position: 0 -300px; }
  .cflag-se.cflag--20 {
    background-position: 0 -187px; }
  .cflag-se.cflag--16 {
    background-position: 0 -150px; }

.cflag-un {
  background-position: 0 -325px; }
  .cflag-un.cflag--20 {
    background-position: 0 -203px; }
  .cflag-un.cflag--16 {
    background-position: 0 -162px; }

.multi-select {
  display: inline-block;
  margin: 3em;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset 2px 2px 9px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: hidden; }
  .multi-select input[type=checkbox] {
    display: none; }
  .multi-select input[type=checkbox] + label {
    display: block;
    font-size: 13px;
    padding: 6px 24px 6px 12px;
    margin: 0;
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.05s ease;
    -webkit-user-select: none;
    user-select: none; }
  .multi-select input[type=checkbox]:checked + label {
    background-color: rgba(102, 153, 204, 0.5);
    margin: 0; }

/*===================================================/
	Utilities
	Helper classes for use inline in the mark-up 
/===================================================*/
/* Floats */
.u-pull-left {
  float: left !important; }

.u-pull-right {
  float: right !important; }

/* Add/remove margins */
.u-push {
  margin: 20px !important; }

.u-push-top {
  margin-top: 20px !important; }

.u-push-right {
  margin-right: 20px !important; }

.u-push-bottom {
  margin-bottom: 20px !important; }

.u-push-left {
  margin-left: 20px !important; }

.u-push-vertical {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.u-push-horizontal {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.u-flush {
  margin: 0 !important; }

.u-flush-top {
  margin-top: 0 !important; }

.u-flush-right {
  margin-right: 0 !important; }

.u-flush-bottom {
  margin-bottom: 0 !important; }

.u-flush-left {
  margin-left: 0 !important; }

.u-flush-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-flush-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/* Add/remove padding */
.u-soft {
  padding: 20px !important; }

.u-soft-top {
  padding-top: 20px !important; }

.u-soft-right {
  padding-right: 20px !important; }

.u-soft-bottom {
  padding-bottom: 20px !important; }

.u-soft-left {
  padding-left: 20px !important; }

.u-soft-vertical {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.u-soft-horizontal {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.u-hard {
  padding: 0 !important; }

.u-hard-top {
  padding-top: 0 !important; }

.u-hard-right {
  padding-right: 0 !important; }

.u-hard-bottom {
  padding-bottom: 0 !important; }

.u-hard-left {
  padding-left: 0 !important; }

.u-hard-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.u-hard-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/*====================/
	Text
/====================*/
.u-text-left {
  text-align: left !important; }

.u-text-right {
  text-align: right !important; }

.u-text-center {
  text-align: center !important; }

.u-nobr, .u-nowrap {
  white-space: nowrap; }

.u-playfair {
  font-family: "Playfair Display", Georgia, serif; }

/*====================/
	Display
/====================*/
.u-middle-table {
  display: table;
  width: 100%;
  height: 100%; }

.u-middle-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.u-inline-block {
  display: inline-block; }

.u-link {
  text-decoration: underline; }

/*====================/
	Interactions
/====================*/
.is-hidden {
  display: none !important; }
