html, * {
  box-sizing: border-box; }

html, body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px; }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    html, body {
      background-color: #fff; } }

.Rforms .Rforms-block {
  margin: 0 10px; }

.Rforms .Rforms-fieldset {
  background-color: #fff;
  border: none;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin: 10px 0;
  padding: 0 10px; }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    .Rforms .Rforms-fieldset {
      background-color: transparent;
      border: none; } }

.Rforms .Rforms-input {
  display: block;
  width: auto;
  border-top: 1px #ddd solid; }
  @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
    .Rforms .Rforms-input {
      background-color: #f2f2f2;
      border: none;
      margin: 10px 0; } }
  .Rforms .Rforms-input input,
  .Rforms .Rforms-input label {
    border-radius: 0;
    vertical-align: top;
    height: 48px;
    line-height: 48px;
    font-size: 1em;
    font-weight: 400;
    display: inline-block; }
    @media screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape) {
      .Rforms .Rforms-input input,
      .Rforms .Rforms-input label {
        background-color: transparent;
        padding-left: 10px;
        border-right: 1px solid #ddd; } }
  .Rforms .Rforms-input label {
    width: 36%;
    overflow: hidden; }
  .Rforms .Rforms-input input {
    margin: 5px 0;
    height: 38px;
    line-height: 38px;
    font-family: "Open Sans", sans-serif;
    width: 64%;
    border: none;
    -webkit-appearance: none;
    appearance: none; }
    .Rforms .Rforms-input input::-webkit-input-placeholder {
      font-weight: 400;
      color: #ccc; }
  .Rforms .Rforms-input:first-child {
    border-top: none; }

.Rforms .Rforms-helper {
  font-size: 0.79rem;
  color: #777; }

.Pressme {
  display: inline-block;
  background-color: #2b79ec;
  border-radius: 5px;
  padding: 0 30px;
  line-height: 60px;
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .Pressme.Pressme--secondary {
    background-color: #777;
    padding: 0 20px;
    line-height: 48px; }

.Wrappers.Wrappers--center {
  text-align: center; }

.Wrappers.Wrappers--pad {
  padding: 0 10px; }

.Wrappers.Wrappers--fullpad {
  padding: 0 20px; }

.Wrappers.Wrappers--tintbox {
  background-color: #ccc; }

/*===================================================/
	Utilities
	Helper classes for use inline in the mark-up 
/===================================================*/
/* Floats */
.u-pull-left {
  float: left !important; }

.u-pull-right {
  float: right !important; }

/* Add/remove margins */
.u-push {
  margin: 20px !important; }

.u-push-top {
  margin-top: 20px !important; }

.u-push-right {
  margin-right: 20px !important; }

.u-push-bottom {
  margin-bottom: 20px !important; }

.u-push-left {
  margin-left: 20px !important; }

.u-push-vertical {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.u-push-horizontal {
  margin-left: 20px !important;
  margin-right: 20px !important; }

.u-flush {
  margin: 0 !important; }

.u-flush-top {
  margin-top: 0 !important; }

.u-flush-right {
  margin-right: 0 !important; }

.u-flush-bottom {
  margin-bottom: 0 !important; }

.u-flush-left {
  margin-left: 0 !important; }

.u-flush-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-flush-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/* Add/remove padding */
.u-soft {
  padding: 20px !important; }

.u-soft-top {
  padding-top: 20px !important; }

.u-soft-right {
  padding-right: 20px !important; }

.u-soft-bottom {
  padding-bottom: 20px !important; }

.u-soft-left {
  padding-left: 20px !important; }

.u-soft-vertical {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.u-soft-horizontal {
  padding-left: 20px !important;
  padding-right: 20px !important; }

.u-hard {
  padding: 0 !important; }

.u-hard-top {
  padding-top: 0 !important; }

.u-hard-right {
  padding-right: 0 !important; }

.u-hard-bottom {
  padding-bottom: 0 !important; }

.u-hard-left {
  padding-left: 0 !important; }

.u-hard-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.u-hard-horizontal {
  padding-left: 0 !important;
  padding-right: 0 !important; }

/*====================/
	Text
/====================*/
.u-text-left {
  text-align: left !important; }

.u-text-right {
  text-align: right !important; }

.u-text-center {
  text-align: center !important; }

.u-nobr, .u-nowrap {
  white-space: nowrap; }

.u-playfair {
  font-family: "Playfair Display", Georgia, serif; }

/*====================/
	Display
/====================*/
.u-middle-table {
  display: table;
  width: 100%;
  height: 100%; }

.u-middle-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.u-inline-block {
  display: inline-block; }

.u-link {
  text-decoration: underline; }

/*====================/
	Interactions
/====================*/
.is-hidden {
  display: none !important; }
