.Navigation {

  width: 100%;    
  height: 100%;
  padding-top: $dim-tap;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  z-index: 2;
  transition: all 0.25s ease;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 4px 0 15px rgba(0, 0, 0, 0.06);

  @media #{$media-full} {
    max-width: 280px;
  }

  .Navigation-search {
    input {
      display: block;
      width: 93%;
      font-size: $size-body;
      border: none;
      margin: 0.5rem 0.75rem;
      padding: 0.75rem 0.5rem;
      border-radius: 0;
    }

  }

  ul.Navigation-menu {
    display: block; 
    list-style: none;
    width: 100%;    
    height: 100%;
    margin: 0;
    padding: 0;
    max-height: 100%;
    top:0;
    position: absolute;
    padding-top: $dim-tap;
    overflow: hidden;
    //overflow-y: scroll;
    //-webkit-overflow-scrolling: touch;
    background-color: $feelunique-color-page;
    z-index: 2;
    transition: all 0.25s ease;



    li {
      line-height: $dim-tap;
      transition: all 0.45s ease;
    }

    ul {
      display: block;
      list-style: none;
      position: absolute;
      width: 100%;    
      height: 100%;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      padding-top: $dim-tap;
      background-color: $feelunique-color-page;
      transition: all 0.45s ease;
      z-index: 2;
      box-shadow: -1px 0 0 $feelunique-color-body, -4px 0 15px rgba(0, 0, 0, 0.06);

    }

    li.has-more > a {
      &:after {
        position: absolute;
        right: 20px;
        display: inline-block;
        content: '>';
      }
    }

    li.Navigation-back a {
      //background-color: rgba(0, 0, 0, 0.2);
      background-color: #ccc;
      margin: 8px 7px 7px 7px;
    }

    a {
      display: block;
      padding: 0 1.25rem;
      color: #000;
      text-decoration: none;
      transition: all 0.45s ease;

    }

  }

  .is-active {
    background-color: $feelunique-color-page;
  }

  .is-inactive {
    -webkit-transform: translateX(115%);
    transform: translateX(115%);
    //opacity: 0.5;
  }

  .is-fading {
      //background-color: rgba(0, 0, 0, 0.2);
      > a {
        text-indent: -2.5em;
      }
  }

  &.is-minimised,
  .is-minimised {
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%);
  }

  .u-divide {
    //padding-top: $dim-base / 2;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &.Navigation--desktop {
    .u-dt-hide {display: none !important;}
  }

}



// Header ---------------------------

.header {

  .header-burger {
    overflow:touch;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0 1.25rem;
    line-height: $dim-tap;
    cursor: pointer;
    background-color: #fff;
    z-index: 5;
    -webkit-transform: translate3d(0,0,0);
    transition: opacity 0.25s ease;
  }

  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: $dim-tap;
  line-height: $dim-tap;
  z-index: 5;
  text-align: center;
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 5px 9px rgba(0, 0, 0, 0.04);
  box-shadow: 0 0 0 1px $feelunique-color-page;

  a.header-logo {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    z-index: 3;
    b {
      font-weight: 500;
    }
  }

  a.header-bag {
    display: block;
    position: absolute;
    right: 5%;
    z-index: 3;
  }
}






// Page-----------------------------------

.page {
  padding-top: 65px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index:1;
  background-color: #fff;

  &.is-fixed {

    -webkit-overflow: hidden;
    overflow: hidden;

    @media #{$media-full} {
      -webkit-overflow: auto;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }



  .page-nav {
    display: none;

    @media #{$media-full} {
       
      display: block;
      max-height: 110px;
      overflow: hidden;
      text-align: center;
      padding: 0 5%;

      > ul {
        width: 100%;
      }

      > ul > li:first-child {
        display: block;
        width: 100%;

        input {
          width: 100%;
          margin: 0.75em 0;
          border-radius: 0;
          font-size: 17px;
          padding: 0.75rem;
          border: none;
          font-weight: 200;
          border: 1px solid $feelunique-color-structure;

        }

        input::-webkit-input-placeholder {font-weight: 200; color: #ccc}
        input:-moz-placeholder {font-weight: 200; color: #ccc}
        input::-moz-placeholder {font-weight: 200; color: #ccc}
        input:-ms-input-placeholder {font-weight: 200; color: #ccc}
      }

      ul, li, li a {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
      }

      li a {
        display: block;
        padding: 0.1rem 0; 
        margin: 0.75em;
        border-bottom: 1px #000 solid;
        color: #000;
        text-decoration: none;
        //text-transform: uppercase;
        //letter-spacing: 2px;
      }

    }

  }
}


