body {
	background-color: #444;
	text-align: center;
	margin: 0;
	margin-top: 60px;
	font-family: 'open sans';
	font-weight: 200;
	font-size: 16px;
}

img {
	max-width: 320px;
	display: inline-block;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), 4px 4px 8px rgba(0, 0, 0, 0.1)

}

i {
	text-align: center;
	color: #999;
	font-style: normal;
	display: block;
	margin: 1.75em 0;
}

.egg {
	box-sizing: border-box;
	padding-top: 16px;
	display: block;
	opacity: 1;
	overflow: hidden;
	height:54px;
	position: absolute;
	top:80px;
	left: 50%;
	margin-left: -160px;
	width: 240px;
	color: rgba(0, 0, 0, 0);
	font-size: 17px;
	font-weight: 600;
	line-height: 17px;
}

.egg:hover {
	background-color: #000;
	color: #fff;
}

@media screen and (max-width:480px) {

	body {

		margin: 0;
	}

	img {
		display: block;
		max-width: none;
		width: 100%;
	}

	i { display: none;}

}