

.multi-select {
  display: inline-block;
  margin: 3em;
  //width: 260px;
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), inset 2px 2px 9px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: hidden;

  input[type=checkbox] {
    display: none
  }

  input[type=checkbox] + label {
    display: block;
    font-size:13px;
    padding: 6px 24px 6px 12px;
    margin: 0;
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.05s ease; 
    -webkit-user-select: none;  
    user-select: none; 


  } 
  input[type=checkbox]:checked + label {
    background-color: rgba(102, 153, 204, 0.5);
    margin: 0; 
  }
 
}
