html, body {
  font-family: 'Open sans', arial;
  margin:1.75em;
  color: #444;
}

html * {
  box-sizing: border-box;
}

h1 {
  font-weight: 200;
  font-size: 36px;
  margin: 0.75em 0;
}

a h2 {
  font-weight: 200;
  font-size: 24px;
  padding: 1.75em 0;
  text-decoration: underline;
  color: #444;
  clear: both;
}
