// Colours
$feelunique-color-page:             #f2f2f2;    // default page background 
$feelunique-color-structure:        #ddd;       // rules, boxes and borders 
$feelunique-color-body:             #777;       // text colour
$feelunique-color-dark:             #454545;    // almost black but not quite UI elements
$feelunique-color-positive:         #1abc9c;    // used to show success
$feelunique-color-progress:         #2b79ec;    // used to demonstrate progress to next steps
$feelunique-color-alert:            #d72245;    // used to show action needed before progressing


$feelunique-color-sale:            	#d72245;    
$feelunique-color-offer:            #7296a9;    

// Base dimensions
$dim-base:          20px;
$dim-tap:           44px;

// Font sizing
$size-tiny:         12px;
$size-small:        13px;
$size-body:         14px;
$size-bump:         15px;
$size-chunky:       17px;
$size-big:          26px;
$size-display:      36px;

$weight-normal:     200;
$weight-heavy:      600;

// Misc
$fontstack: 'Open Sans', sans-serif; 
$transition: 0.15s ease;
$feelunique-dropshadow: 1px 1px 2px rgba(0, 0, 0, 0.12), 2px 2px 8px rgba(0, 0, 0, 0.1);
$media-full: "screen and (min-device-width: 400px), screen and (min-device-height: 400px) and (orientation: landscape)";