
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #fff;
    color: #333A40;
}

p { 
    line-height: 1.5em; 
    font-family: Georgia, serif;
    font-size: 17px;
    margin: 0.66em 4%;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    transition: transform 0.3s ease;
    transform: translateX(calc(-100% - 56px));
}

.navigation-matte {
    background-color: rgba(51, 58, 64, 0);
    backdrop-filter: blur(0);
    height: 100vh;
    width: 56px;
    flex-grow: 1;
    transition: all 0.33s ease;
}

.navigationOpen .navigation-matte {
    background-color: rgba(51, 58, 64, 0.5);
    backdrop-filter: blur(4px);
}

.navigation-wrapper {
    position: relative;
    width: calc( 100% - 56px);
    overflow: hidden;
    max-width: 375px;
    background: #f8f8f8;
}

.navigation-back {
    line-height: 56px;
    padding: 0 4%;
    font-size: 14px;
    background: #f8f8f8;
}

.navigation a {
    color: #333A40;
    display: block;
    text-decoration: none;
    line-height: 42px;
    padding: 0 4%;
}

.navigation a:hover {
    color: #333A40;
    text-decoration: underline;
}

.navigation.navigationOpen {
    transform: translateX(0);
}
.navigation-open,
.navigation-close {
    z-index: 3;
    background: #fff;
}

.navigation-close {
    background-color: #333A40;
    color: #fff;
}

.navigation ul, li {margin: 0; padding: 0; }

.navigation ul {
    transition: transform 0.33s ease;
}

.navigation li {
    list-style: none;
    white-space: nowrap;
}

li.li-menu {
	overflow: hidden;
}

li.li-menu.liMenuOpen {
	font-weight: bold; /*800*/
}

.navigation-back svg {
    float: none;
    transform: rotate(180deg);
    padding: 10px 0 0 0;
    margin: 10px -5px 0 -9px;
}

@media (max-width: 980px) {

    li.li-menu ul {
        box-shadow: 1px 1px 1px 1px rgba(51, 58, 64, 0.6), -2px 0px 2px rgba(51, 58, 64, 0.1), -7px 0px 18px rgba(51, 58, 64, 0.1);
    }

    .navigation ul.isParked {
        transform: translateX(-30px);
    }

    li.li-menu > ul {
        position: absolute;
        width: 100%;
        max-width: 420px;
        transform: translateX(110vw);
        height: 100vh;
        top: 0;
        transition: transform 0.33s ease;
        z-index: 1;
        background: #fff;
    }
    
    li.li-menu.liMenuOpen > ul {
        transform: translateX(0);
        z-index: 99;
    }

}

/* toggle styles */
.navigation-toggle {
    float: right;
    vertical-align: middle;
    margin-top: 10px;
}

/* Mobile tabs */
ul.main-menu li { 
	font-size: 17px; 
    font-weight: bold;
}

ul.main-menu ul li,
ul.account-menu li { 
	font-size: 14px; 
	text-transform: none;
	font-weight: normal;
}

.account-menu {
	background: #f2f2f2;
	margin-bottom: 10px;
}

.account-menu > li:first-of-type a {
    line-height: 56px;
}



.help-menu li li {
  font-weight: normal;
}

.svgicon {
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1.5;
    fill: none;
    stroke: currentColor;
 }
  
.svgicon path,
.svgicon polygon,
.svgicon ellipse,
.svgicon line,
.svgicon rect {
    stroke-width: inherit;
}

.svgicon.svgicon--b {
    stroke-width: 2.5;
}

.svgicon use {
    display: inline-block;
    vertical-align: middle;
}

.navigation-subhead a {
    font-weight: bold;
    padding-top: 1.33em;
}
  



@media (min-width: 980px) {

    li { position: static; }

    .navigation {
        position: relative;
        transform: none;
        max-width: none;
        background: #f8f8f8;
        margin: 100px auto 0;
        width: 100%;
        max-width: 1280px;
    }

    .navigation-open,
    .navigation-close {
        display: none;
    }

    .navigation > ul > li {
        line-height: 56px;
    }

    ul.main-menu {
        width: 100%;
        max-width: 1280px;
        display: flex;
        position: relative;
        margin: 0 auto;
        padding: 0 1em;
        box-sizing: border-box;
    }

    /* Horizontal nav titles */
    ul.main-menu > li {
        font-size: 14px;
        flex-grow: 1;
        text-align: center;
        padding: 0;
    }

    ul.main-menu > li.liMenuOpen {
        background: #fff;
    }

    ul.main-menu > li.li-menu {
        overflow: visible;
    }

    ul.main-menu > li > b {
        display: none; 
    }

    ul.main-menu > li.li-menu {
        display: block;
        max-height: 56px;
        transition: max-height 0.33s ease;
        overflow: hidden;
    }

    ul.main-menu > li.li-menu.liMenuOpen {
        max-height: 6666px;
    }

    /* subnav */
    ul.main-menu > li.li-menu > ul {
        position: absolute;
        top: 56px;
        left: 0;
        width: 100%;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #fff;
        max-height: 0;
        transition: max-height 0.33s ease;
        overflow: hidden;
        text-align: left;
    }

    /* Section titles */
    ul.main-menu > li.li-menu > ul > li {
        padding-left: 0;
        text-decoration: uppercase;
        font-weight: bold;
        width: 20%;
        min-width: 20%;
    }

    /* Mega menu drop-down style */
    ul.main-menu > li.li-menu.liMenuOpen > ul {
        max-height: 444px;
        padding: 2em 4%;
        box-sizing: border-box;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.05);
    }

    /* 3rd level nav */
    ul.main-menu > li.li-menu ul ul {
        display: block;
        width: 100%;
        /*color: darkcyan; */
        padding: 0;
        margin: 0 0 1.666em;
    }

    ul.main-menu > li.li-menu ul ul > li {
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 32px;

    }

    ul.main-menu > li.li-menu ul {
        display: flex
    }

    ul.main-menu > li.li-menu ul > li.li-menu,
    ul.main-menu > li.li-menu ul > li.li-menu.liMenuOpen {
        max-height: 6666px;
    }


    .account-menu {
        background: transparent;
        margin-bottom: 0;
        position: absolute;
        top: -60px;
        left: 0;
    }

    .help-menu {
        background: transparent;
        margin-bottom: 0;
        position: absolute;
        top: -60px;
        left: 170px;
    }

    



}



/* Utilities */
.colour-coral,
.colour-coral a,
.colour-coral a:hover { color: #EF5970 }
.colour-sale,
.colour-sale a,
.colour-sale a:hover { color: #DB1130; }
