
body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #fff;
    color: #333A40;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    min-height: 100%;
    transition: transform 0.15s ease;
    transform: translateX(calc(-100% - 56px));
    z-index: 11;
}

.navigation-matte {
    background-color: rgba(51, 58, 64, 0);
    backdrop-filter: blur(0);
    height: 100vh;
    width: 56px;
    flex-grow: 1;
    transition: all 0.15s ease;
}

.navigationOpen .navigation-matte {
    background-color: rgba(51, 58, 64, 0.5);
    backdrop-filter: blur(4px);
}

.navigation-wrapper {
    position: relative;
    width: calc( 100% - 56px);
    overflow: hidden;
    max-width: 375px;
    background: #f2f2f2;
}

.navigation-back {
    line-height: 56px;
    padding: 0 4%;
    font-size: 14px;
    background: #f2f2f2;
}

.navigation a {
    color: #333A40;
    display: block;
    text-decoration: none;
    line-height: 42px;
    padding: 0 4%;
}

.navigation a:hover {
    color: #333A40;
    text-decoration: underline;
}

.navigation.navigationOpen {
    transform: translateX(0);
}
.navigation-open,
.navigation-close {
    z-index: 3;
    background: #fff;
}

.svgicon.navigation-close {
    background-color: #333A40;
    color: #fff;
    stroke-width: 1;
}

.navigation ul, li {margin: 0; padding: 0; }

.navigation ul {
    transition: transform 0.5s ease;
}

.navigation li {
    list-style: none;
}

li.li-menu {
	overflow: hidden;
}

li.li-menu.liMenuOpen {
	font-weight: bold; /*800*/
}

.navigation-back svg {
    float: none;
    transform: rotate(180deg);
    padding: 10px 0 0 0;
    margin: 10px -5px 0 -9px;
}

@media (max-width: 980px) {

    li.li-menu ul {
        box-shadow: 1px 1px 1px 1px rgba(51, 58, 64, 0.6), -2px 0px 2px rgba(51, 58, 64, 0.1), -7px 0px 18px rgba(51, 58, 64, 0.1);
    }

    .navigation ul.isParked {
        /*transform: translateX(-60px);*/
    }

    li.li-menu > ul {
        position: absolute;
        width: 100%;
        max-width: 420px;
        transform: translateX(400px);
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        top: 0;
        transition: transform 0.5s ease;
        z-index: 1;
        background: #fff;
    }
    
    li.li-menu.liMenuOpen > ul {
        transform: translateX(0); /*60px*/
        z-index: 99;
    }

}

/* toggle styles */
.navigation-toggle {
    float: right;
    vertical-align: middle;
    margin-top: 10px;
}

/* Mobile tabs */
ul.main-menu li { 
	font-size: 17px; 
    font-weight: bold;
}

ul.main-menu ul li,
.li-menu.account-menu { 
	font-size: 14px; 
	text-transform: none;
	font-weight: normal;
}

.account-menu {
	background: #f2f2f2;
	margin-bottom: 10px;
}

.navigation .account-menu > li:first-of-type a {
    line-height: 56px;
}

li.navigation-help-menu > a {
  font-weight: normal;
  font-size: 13px;
}

.navigation-subhead a {
    font-weight: bold;
    padding-top: 1.33em;
}

/* Media navs */
a.nav-media-block {
    margin: 0.66em 0 1.666em;
    line-height: 17px;
    text-transform: none;
    letter-spacing: normal;
}
a.nav-media-block:hover {
    text-decoration: none;
}

.nav-media-title {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    font-size: 14px;
    line-height: 32px;
    transform: translateY(21px);
    background: #fff;
    padding-right: 1.333em;
}

.nav-media-img {
    display: block;
    max-width: 100%;
    margin-bottom: 0.33em;
}

.nav-media-summary,
.nav-media-cta {
    display: inline;
    font-weight: bold;
    font-size: 13px;
    font-weight: normal;
}

.nav-media-summary {
    margin-right: 4px;
}

.nav-media-cta {
    font-weight: bold;
    white-space: nowrap;
}

a.nav-media-block:hover .nav-media-cta {
    text-decoration: underline;
}



/* Mega menus */
@media (min-width: 980px) {

    li { position: static; }

    .navigation {
        position: static;
        transform: none;
        max-width: 1280px;
        background: #fff;
        margin: 0 auto;
        width: 100%;
        overflow: visible;
    }

    .navigation-matte {
        display: none;
    }
    
    .navigation-wrapper {
        position: relative;
        transform: none;
        margin: 0;
        width: 100%;
        max-width: 1280px;
        overflow: visible;
        background-color: transparent;
    }
    
    .navigation-back,
    .navigation-subhead {
        display: none;
    }

    .navigation-open,
    .navigation-close {
        display: none;
    }

    .navigation > ul > li {
        line-height: 56px;
    }

    ul.main-menu {
        width: 100%;
        max-width: 1280px;
        display: flex;
        position: relative;
        margin: 0 auto;
        padding: 0 1em;
        box-sizing: border-box;
    }

    /* Horizontal nav titles */
    ul.main-menu > li {
        font-size: 14px;
        flex-grow: 1;
        text-align: center;
        padding: 0;
    }

    ul.main-menu > li > a {
        line-height: 56px;
    }

    ul.main-menu > li.liMenuOpen {
        background: #f2f2f2;
    }

    ul.main-menu > li.li-menu {
        overflow: visible;
    }

    ul.main-menu > li.li-menu a svg {
        display: none; 
    }

    ul.main-menu > li.li-menu {
        display: block;
        max-height: 56px;
        transition: max-height 3s ease;
        overflow: hidden;
    }

    .navigation ul.main-menu > li.account-menu {
        display: none;
    }

    ul.main-menu > li.li-menu.liMenuOpen {
        max-height: 6666px;
    }

    /* subnav */
    ul.main-menu > li.li-menu > ul {
        position: absolute;
        top: 56px;
        left: 0;
        width: 100%;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #f2f2f2;
        max-height: 0;
        transition: max-height 0s ease;
        overflow: hidden;
        text-align: left;
    }

    /* Section titles */
    ul.main-menu > li.li-menu > ul > li {
        padding-left: 0;
        text-transform: uppercase;
        line-height: 1.3em;
        letter-spacing: 0.035em;
        font-size: 12px;
        font-weight: bold;
        width: 20%;
        min-width: 20%;
    }

    ul.main-menu > li.li-menu > ul > li > a {
        line-height: 1.3em;
        margin: 0.66em 0;
    }

    /* Mega menu drop-down style */
    ul.main-menu > li.li-menu.liMenuOpen > ul {
        max-height: 444px;
        padding: 2em 4%;
        box-sizing: border-box;
    }

    /* 3rd level nav */
    ul.main-menu > li.li-menu ul ul {
        display: block;
        width: 100%;
        /*color: darkcyan; */
        padding: 0;
        margin: 0 0 1.666em;
    }

    ul.main-menu > li.li-menu ul ul > li {
        padding: 0;
        margin: 0;
        font-size: 13px;
        line-height: 32px;
    }

    ul.main-menu > li.li-menu ul ul > li > a {
        line-height: 28px;
    }

    ul.main-menu > li.li-menu ul {
        display: flex
    }

    ul.main-menu > li.li-menu ul > li.li-menu,
    ul.main-menu > li.li-menu ul > li.li-menu.liMenuOpen {
        max-height: 6666px;
    }

    /* Media blocks */

    a.nav-media-block {
        line-height: 20px;
    }

    .nav-media-title {
        font-size: 11.5px;
        transform: none;
        background: transparent;
    }
    
    .nav-media-summary,
    .nav-media-cta {
        line-height: 17px;
    }

    .nav-media-img {
        margin-bottom: 0.666em;
    }



    li.header-account {
        position: relative;
    }

    /* Account menu */
    li.header-account ul {
        width: 180px;
        background-color: #f2f2f2;
        position: absolute;
        top: 65px;
        left: -100px;
        z-index: 9;
        margin: 0;
        padding: 5px 0;
        opacity: 0;
        list-style: none;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.05);
        transition: all 0.33s ease;
        max-height: 0;
        overflow: hidden;
    }

    li.header-account.navigationOpen ul {
        max-height: 666px;
        opacity: 1;
    }

    li.header-account ul li {
        margin: 0;
        padding: 0;
        text-align: left;
        white-space: nowrap;
    }

    .header > ul > li.header-account ul li a {
        padding: 0 20px;
        line-height: 32px;
        font-size: 13px;
        color: #333A40;
        text-decoration: none;
    }

    .header > ul > li.header-account ul li a:hover {
        background-color: #333A40;
        color: #fff;
    }

    li.header-account ul ul,
    li.header-account ul svg {
        display: none;
    }

}


@media (min-width: 1280px) {
    li.header-account ul {
        left: -20px;
    }
}





/* Utilities */
.colour-coral,
.colour-coral a,
.colour-coral a:hover { color: #EF5970; }
.colour-sale,
.colour-sale a,
.colour-sale a:hover { color: #DB1130; }
