.page {
    display: block;
    width: auto;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    padding: 20px 4%;
}

.page p { 
    line-height: 1.5em; 
    font-family: Georgia, serif;
    font-size: 17px;
    margin: 0.66em 0;
}

@media (min-width: 1280px) {
    .page {
        padding: 20px 2%;
    }
}